.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

.Icon-container--Checkbox {
  position: absolute;
  left: 12px;
}

.Icon-containe--Eliminar {
  position: absolute;
  top: -24px;
  right: 0;
}

.Icon-svg {
  width: 24px;
  height: 24px;
  transition: fill .15s;
}

.Icon-container:hover .Icon-svg--Checkbox {
  fill: #4caf50
}

.Icon-container:hover .Icon-svg--Eliminar {
  fill: red
}
